* {
    margin: 0;
    padding: 0;
}

$blanco-general: #fff;
$color-gradiente1: rgb(242,188,128,1);
$color-gradiente2: rgba(115,32,2,1);

if 
html{

    body{
        height: 100%;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
    }
}

.gradient {

    background: rgb(242,188,128);
    background: linear-gradient(146deg, $color-gradiente1 41%, $color-gradiente2 100%);
}

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color:$blanco-general;
}
.icon{
    color: $blanco-general;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.galeria{
    background-color: whitesmoke;
    img{
        border-radius: 5%;
    }
}

.servicios{
    img{
        border-radius: 5%;
    }
}

footer{
    color: #fff3cd;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
    p{
        color: #1a1e21;
    }
}